<h2 class="page-header">Register</h2>
{{#if user}}
<div class="alert alert-danger">Username has taken already try new</div>
{{/if}}
{{#if mail}}
<div class="alert alert-danger">Email has taken already try new</div>
{{/if}}
{{#if errors}}
{{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{/each}}
{{/if}}
<form method="post" action="/users/register">
        <div class="wrapper">
                <div><h3>Create account</h3></div> 
                <div  class="columndiv">
                        First name: <br> <input type="text" name="fnameTxt" id="fnameTxt">
                </div>
                <div class="centerdiv"> &nbsp;</div>
                <div  class="columndiv">
                        Last name:<br><input type="text" name="lnameTxt" id="lnameTxt" value="">
                </div>
                <div  class="columndiv">
                        Username: <br> <input type="text" name="userNameTxt" id="userNameTxt">
                </div>
                <div class="centerdiv"> &nbsp;</div>
                <div  class="columndiv">
                VAT number: <br> <input type="text" name="vatTxt" id="vatTxt" onfocus="getNif(this.id)">
                </div>
                <div class="rowdiv">
                        E-mail:<br> <input type="email" name="emailTxt" id="emailTxt" value="">
                </div>
                <div  class="columndiv">
                        Password: <br> <input type="password" name="pwdTxt" id="pwdTxt">
                </div>
                <div class="centerdiv"> &nbsp;</div>

                <div  class="columndiv">
                        Re-enter Password:<br><input type="password" name="repwdTxt" id="repwdTxt"  value="">
                </div>
                <div class="rowdiv">
                        <hr>
                </div>

                <div  class="columndiv">
                        Phonen number: <br> <input type="text" name="phoneTxt" id="phoneTxt">
                </div>
                <div class="centerdiv"> &nbsp;</div>
                <div  class="columndiv">
                        Country:<br>
                        <select name="countrySelect" id="countrySelect">
                                <option value="portugal" selected="selected">Portugal</option>
                                <option value="espanha">Espanha</option>
                                <option value="alemanha">Alemanha</option>
                                <option value="russia">Russia</option>
                        </select>
                </div>

                <div class="rowdiv">
                        <button type="submit" class="createbtn">Create account</button>
                </div>
                <br>
                <div class="rowdiv centertext">  Already have an account?</div>
                <div class="rowdiv">
                        <input type="button" class="signbtn" value="Sign in securely" id="signBtn" onclick="/users/login">
                </div>
        </div> 
</form>